#nprogress {
    pointer-events: none !important;
    position: relative !important;
}

#nprogress .spinner-icon {
    width: 35px !important;
    height: 35px !important;
    border: solid 4px transparent !important;
    box-sizing: border-box !important;
    border-top-color: #fff !important;
    border-left-color: #fff !important;
    border-radius: 50% !important;
    -webkit-animation: nprogress-spinner 400ms linear infinite !important;
    animation: nprogress-spinner 400ms linear infinite !important;
}

#nprogress .spinner {
    z-index: 1031 !important;
    top: 15px !important;
    right: 15px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    height: 100vh !important;
    background: #000000c2 !important;
    margin-top: -15px !important;
    margin-right: -15px !important;
}

#nprogress .bar {
    background: #fff !important;
    position: fixed !important;
    z-index: 1032 !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 4px !important;
}

/*Input errors CSS*/
.has-error.form-select {
    border: 1px solid red;
}

/*Tailwind Some CSS Add*/
.text-green-400 {
    --tw-text-opacity: 1;
    color: rgba(52, 211, 153, var(--tw-text-opacity));
}
.bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
}
.opacity-25 {
    opacity: 0.25;
}
.opacity-50 {
    opacity: 0.5;
}
.opacity-75 {
    opacity: 0.75;
}
.opacity-100 {
    opacity: 1;
}

