/*Our APP CSS file Rewrite*/
.main {
    overflow-y: scroll !important;
}


/*Package File CSS*/
#nprogress {
    pointer-events: none !important;
    position: relative !important;
}

#nprogress .spinner-icon {
    width: 35px !important;
    height: 35px !important;
    border: solid 4px transparent !important;
    box-sizing: border-box !important;
    border-top-color: #fff !important;
    border-left-color: #fff !important;
    border-radius: 50% !important;
    -webkit-animation: nprogress-spinner 400ms linear infinite !important;
    animation: nprogress-spinner 400ms linear infinite !important;
}

#nprogress .spinner {
    z-index: 1031 !important;
    top: 15px !important;
    right: 15px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    height: 100vh !important;
    background: #000000c2 !important;
    margin-top: -15px !important;
    margin-right: -15px !important;
}

#nprogress .bar {
    background: #fff !important;
    position: fixed !important;
    z-index: 1032 !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 4px !important;
}

.StripeElement {
    box-shadow: 0 1px 3px 0 #3e3e3e !important;
}

#stripe-element-errors {
    color: #fa755a !important;
}

/*DropZone CSS*/
.dz-remove {
    z-index: 100 !important;
    padding: 2px 10px !important;
    bottom: 5px !important;
    font-size: 10px !important;
    letter-spacing: 0.8px !important;
    width: 95% !important;
    margin-left: 4px !important;
}
.dropzone .dz-preview .dz-error-message {
    top: 35% !important;
}

/*Input errors CSS*/
.has-error.form-select {
    border: 1px solid red;
}

/*Tailwind Some CSS Add*/

/*Text And BG Color CSS*/
.text-green-400 {
    --tw-text-opacity: 1;
    color: rgba(52, 211, 153, var(--tw-text-opacity));
}
.bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
}
.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgba(156, 163, 175, var(--tw-text-opacity));
}

/*opacity CSS*/
.opacity-25 {
    opacity: 0.25;
}
.opacity-50 {
    opacity: 0.5;
}
.opacity-75 {
    opacity: 0.75;
}
.opacity-100 {
    opacity: 1;
}

/*Height CSS*/
.h-80 {
    height: 20rem;
}
.h-96 {
    height: 24rem;
}

.min-h-100 {
    height: 100vh;
}

/*Flex Content Position*/
.justify-between {
    justify-content: space-between;
}

/*transform CSS*/
.transform {
    transform: var(--tw-transform);
}
.translate-x-1\/2 {
    --tw-translate-x: 50%;
    transform: var(--tw-transform);
}
.left-full {
    left: 100%;
}
